PolyHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	> .free-mouse
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 0px;
		height: 0px;
		pointer-events: all;
	}

	> .health
	{
		position: absolute;
		bottom: 16px;
		left: 16px;
		width: 500px;
		height: 200px;
		background-image: url("/ui/health_background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		justify-content: center;
		align-items: center;

		> .bars
		{
			width: 320px;
			height: 30%;
			gap: 8px;
			transform: skewX(-20deg);
			align-items: flex-end;

			> .bar
			{
				width: 24px;
				background-color: orange;
				box-shadow: 0 0 8px black;
				transition: height 0.2s ease;
			}
		}

		> .hp
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: Poppins;
			font-size: 50px;
			font-weight: 700;
			color: white;
			text-stroke: 8px black;
			text-shadow: 0 0 8px black;
		}
	}

	> .weapon
	{
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 400px;
		height: 200px;
		background-image: url("ui/weapon_background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding: 32px;
		color: white;
		font-family: Poppins;
		align-items: center;
		font-size: 50px;
		font-weight: 700;

		> .icon
		{
			width: 128px;
			aspect-ratio: 1;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		> .ammo
		{
			top: 16px;
			text-shadow: 0 0 8px black;
		}

		> .infinite-ammo
		{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 92px;
			top: 16px;
			transform: translateX(50%);
		}
	}

	> .notifications
	{
		position: absolute;
		left: 0;
		right: 0;
		top: 10%;
		flex-direction: column;

		> NotificationPopup
		{
			width: 100%;
			height: 100px;
			justify-content: center;
			align-items: center;
			font-family: Poppins;
			font-size: 50px;
			font-weight: 700;
			color: white;
			background-image: linear-gradient(90deg, rgba(black, 0), rgba(black, 0.8), rgba(black, 0.8), rgba(black, 0.8), rgba(black, 0));
			transition: all 0.5s ease-in-out;

			&:intro
			{
				opacity: 0;
				transform: scale(0);
			}

			&:outro
			{
				opacity: 0;
			}
		}
	}

	> .leaderboard
	{
		position: absolute;
		left: 16px;
		top: 16px;
		width: 364px;
		background-color: rgb(28, 35, 41);
		color: white;
		font-family: Poppins;
		font-size: 18px;
		flex-direction: column;
		gap: 16px;
		padding: 12px 8px;

		> .player
		{
			justify-content: space-between;
			align-items: center;
			font-family: Poppins;
			font-size: 18px;

			> .info
			{
				gap: 8px;
				align-items: center;

				> Image
				{
					width: 42px;
					height: 42px;
					aspect-ratio: 1;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					flex-shrink: 0;
				}

				> .name-container
				{
					flex-direction: column;
					flex-grow: 1;

					> .name
					{
						font-size: 20px;
						flex-shrink: 0;
						top: -4px;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					> .health
					{
						bottom: 4px;
						left: 0px;
						width: 200px;
						height: 18px;
						align-items: center;
						flex-shrink: 0;

						> .bars
						{
							width: 100%;
							height: 100%;
							gap: 4px;
							transform: skewX(-20deg);
							align-items: flex-end;

							> .bar
							{
								width: 16px;
								background-color: orange;
								box-shadow: 0 0 8px black;
								transition: height 0.2s ease;
							}
						}

						> .hp
						{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-family: Poppins;
							font-size: 50px;
							font-weight: 700;
							color: white;
							font-size: 12px;
							font-weight: 600;
							text-stroke: 4px black;
						}
					}

					// .health
					// {
					// 	position: absolute;
					// 	bottom: 16px;
					// 	left: 16px;
					// 	width: 500px;
					// 	height: 200px;
					// 	background-image: url("/ui/health_background.png");
					// 	background-size: contain;
					// 	background-repeat: no-repeat;
					// 	background-position: center;
					// 	justify-content: center;
					// 	align-items: center;

					// 	> .bars
					// 	{
					// 		width: 320px;
					// 		height: 30%;
					// 		gap: 8px;
					// 		transform: skewX(-20deg);
					// 		align-items: flex-end;

					// 		> .bar
					// 		{
					// 			width: 24px;
					// 			background-color: orange;
					// 			box-shadow: 0 0 8px black;
					// 			transition: height 0.2s ease;
					// 		}
					// 	}

					// 	> .hp
					// 	{
					// 		position: absolute;
					// 		top: 50%;
					// 		left: 50%;
					// 		transform: translate(-50%, -50%);
					// 		font-family: Poppins;
					// 		font-size: 50px;
					// 		font-weight: 700;
					// 		color: white;
					// 		text-stroke: 8px black;
					// 		text-shadow: 0 0 8px black;
					// 	}
					// }


				}
			}

			> .kills
			{
				flex-shrink: 0;
			}
		}

		> .player
		{
			width: 100%;
			height: 32px;

		}
	}

	> .game-over
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(black, 0.7);
		z-index: 100;
		opacity: 1;
		transform: scale(1);
		transition: all 3s ease-in;
		flex-direction: column;
		color: white;
		font-family: Poppins;
		align-items: center;
		justify-content: center;
		gap: 128px;

		> h1
		{
			font-size: 100px;
			font-weight: 700;
			text-shadow: 0 0 8px black;
		}

		> .options
		{
			flex-direction: column;
			align-items: center;
			gap: 32px;

			> .btn
			{
				background-color: rgb(109, 79, 79);
				border-radius: 16px;
				color: white;
				font-family: Poppins;
				font-size: 50px;
				font-weight: 700;
				text-shadow: 0 0 8px black;
				justify-content: center;
				align-items: center;
				transition: all 0.2s ease-in-out;
				padding: 16px 24px;
				pointer-events: all;

				&.disabled
				{
					pointer-events: none;
					background-color: rgb(109, 79, 79, 0.5);
				}

				&:hover
				{
					transform: scale(1.1);
				}
			
			}
		}

		&:intro
		{
			opacity: 0;
			transform: scale(1.1);
		}
	}

	> .pause-menu
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(black, 0.7);
		z-index: 50;
		flex-direction: column;
		color: white;
		font-family: Poppins;
		align-items: center;
		justify-content: center;
		gap: 128px;

		> h1
		{
			font-size: 100px;
			font-weight: 700;
			text-shadow: 0 0 8px black;
		}

		> .options
		{
			flex-direction: column;
			align-items: center;
			gap: 32px;

			> .option
			{
				width: 400px;
				gap: 16px;
				font-size: 32px;
				align-items: center;
			}

			> .btn
			{
				background-color: rgb(109, 79, 79);
				border-radius: 16px;
				color: white;
				font-family: Poppins;
				font-size: 50px;
				font-weight: 700;
				text-shadow: 0 0 8px black;
				justify-content: center;
				align-items: center;
				transition: all 0.2s ease-in-out;
				padding: 16px 24px;
				pointer-events: all;

				&.disabled
				{
					pointer-events: none;
					background-color: rgb(109, 79, 79, 0.5);
				}

				&:hover
				{
					transform: scale(1.1);
				}
			
			}
		}
	}

}