PolyHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	> .free-mouse
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 0px;
		height: 0px;
		pointer-events: all;
	}

	> .weapon
	{
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 400px;
		height: 200px;
		background-image: url("ui/weapon_background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding: 32px;
		color: white;
		font-family: Poppins;
		align-items: center;
		font-size: 50px;
		font-weight: 700;

		> .icon
		{
			width: 128px;
			aspect-ratio: 1;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		> .ammo
		{
			top: 16px;
			text-shadow: 0 0 8px black;
		}

		> .infinite-ammo
		{
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 92px;
			top: 16px;
			transform: translateX(50%);
		}
	}

	> .notifications
	{
		position: absolute;
		left: 0;
		right: 0;
		top: 10%;
		flex-direction: column;

		> NotificationPopup
		{
			width: 100%;
			height: 100px;
			justify-content: center;
			align-items: center;
			font-family: Poppins;
			font-size: 50px;
			font-weight: 700;
			color: white;
			background-image: linear-gradient(90deg, rgba(black, 0), rgba(black, 0.8), rgba(black, 0.8), rgba(black, 0.8), rgba(black, 0));
			transition: all 0.5s ease-in-out;

			&:intro
			{
				opacity: 0;
				transform: scale(0);
			}

			&:outro
			{
				opacity: 0;
			}
		}
	}

	> .leaderboard
	{
		position: absolute;
		left: 16px;
		top: 16px;
		width: 400px;
		background-color: rgb(28, 35, 41);
		color: white;
		font-family: Poppins;
		font-size: 18px;
		flex-direction: column;
		gap: 4px;
		padding: 8px;

		> .player
		{
			justify-content: space-between;
			align-items: center;
			font-family: Poppins;
			font-size: 18px;

			> .info
			{
				gap: 8px;
				align-items: center;

				> Image
				{
					width: 32px;
					height: 32px;
					aspect-ratio: 1;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				> .name
				{

				}
			}

			> .kills
			{
			}
		}

		> .player
		{
			width: 100%;
			height: 32px;

		}
	}

}