@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using System.Linq;
@inherits PanelComponent

<root>
	<div class="free-mouse" />

	@if(Player.Local is null) return;

	<div class="notifications" @ref="NotificationPanel" >
	</div>

	@if(Player.Local.CurrentWeapon is not null)
	{
		var weapon = Player.Local.CurrentWeapon;
		<div class="weapon">
			<img src=@weapon.Icon class="icon" />
			@if(weapon.ClipSize == 0)
			{
				<img src="ui/infinity.png" class="infinite-ammo" />
			}
			else
			{
				<p class="ammo">@weapon.Ammo / @weapon.ClipSize</p>
			}
		</div>
	}
</root>

@code
{
	public static PolyHud Instance { get; private set; }
	Panel NotificationPanel { get; set; }

	protected override void OnStart()
	{
		base.OnStart();
		Instance = this;
	}

	@* protected override void OnUpdate()
	{
		base.OnUpdate();

		if(Input.Pressed("Jump"))
		{
			AddNotification("Picked up REVOLVER!");
		}
	} *@

	public void AddNotification(string text, float time = 3f)
	{
		var notification = new Notification(text, time);
		var popup = NotificationPanel.AddChild<NotificationPopup>();
		popup.Notification = notification;
	}

	protected override int BuildHash() => System.HashCode.Combine( Time.Now );

	public class Notification
	{
		public string Message { get; set; }
		public TimeSince TimeSinceBorn { get; set; }
		public float Time { get; set; } = 3f;

		public Notification(string message, float time = 4f)
		{
			Message = message;
			TimeSinceBorn = 0f;
			Time = time;
		}
	}
}