@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root>
    @if(Player == Player.Local) return;
    <p>NEEDS REVIVING!</p>
</root>

@code
{
    [Property] Player Player { get; set; }

	protected override void OnUpdate()
	{
		var pos = Scene.Camera.PointToScreenPixels( Transform.Position );
		pos.x /= Scene.Camera.ScreenRect.Size.x;
		pos.y /= Scene.Camera.ScreenRect.Size.y;
		pos *= 100f;

		Panel.Style.Left = Length.Percent( Math.Clamp(pos.x - 3.5f, 0, 90) );
		Panel.Style.Bottom = Length.Percent( Math.Clamp(100f - pos.y, 10, 94) );
	}

	protected override int BuildHash() => System.HashCode.Combine( Player );
}